/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #143836;
    height: 100vh;
    max-width: 100vw; 
    overflow-x: hidden; 
    margin: 0; 
    padding: 0; 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Style do scrollbar (pra mim não esquecer kkk */

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #4f9a70;
    --sb-size: 14px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 24px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 24px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
  


/* TÍTULOS */

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #4F9A70;
}


/* BOTÕES */

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #4F9A70;
    transform: scale(1.05);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    text-decoration: #143836;
    color: #143836;
    background-color: #4F9A70;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: #143836;
    background-color: #4F9A70;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #4F9A70;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    cursor: default;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.menu-mobile nav ul li a {
    cursor: default;
}

.abrir-menu {
    /* Você pode personalizar o efeito de quando o menu abrir */
}

.btn-abrir-menu {
    display: none; /* Escondido por padrão */
    cursor: pointer;
}

.btn-abrir-menu i {
    color: #4F9A70;
    font-size: 40px;
}

.menu-mobile {
    background-color: #091616;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #4F9A70;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    cursor: pointer;
}

.menu-mobile nav ul li a:hover {
    background-color: #4F9A70;
    color: #000;
}

.overlay-menu {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-fechar {
    background: none;
    border: none;
    padding: 20px;
    font-size: 30px;
    color: #4F9A70;
    cursor: pointer;
    text-align: left;
}


/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #4F9A70;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DA COLETA SELETIVA  */

section.coletaseletiva {
    padding: 40px 4%;
    
}

section.coletaseletiva .flex {
    gap: 60px;
}

.coletaseletiva .coletaseletiva-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #4F9A70;
    margin-top: 45px;
    transition: .2s;
}

.coletaseletiva .coletaseletiva-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.coletaseletiva .coletaseletiva-box i {
    font-size: 70px;
    color: #4F9A70;
}

.coletaseletiva .coletaseletiva-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #4F9A70;
    display: block;
}

.sobre .txt-sobre p {
    margin: 30px 0;
    text-align: justify;
}



/* CONSCIENTIZE-SE */

section.conscientize {
    padding: 80px 4%;
}

section.conscientize .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-conscientize {
    color: #fff;
}

.sobre .txt-conscientize h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-conscientize h2 span {
    color: #4F9A70;
    display: block;
}

.sobre .txt-conscientize p {
    margin: 30px 0;
    text-align: justify;
}



/* ESTILO DO PROJETO */

section.projeto {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projeto .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}



/* RODAPÉ */

footer {
    background-color: #E4DEDA; /* Cor de fundo do rodapé */
    padding: 20px 0; /* Espaçamento vertical */
}

footer .interface {
    max-width: 1200px; /* Largura máxima do conteúdo do rodapé */
    margin: 0 auto; /* Centraliza o rodapé */
    padding: 0 15px; /* Espaçamento lateral */
}

footer .flex {
    flex-direction: column;
    gap: 30px;
}

footer .line-footer {
    text-align: center;
    margin-bottom: 15px; /* Espaço entre as linhas do rodapé */
}

footer .btn-social {
    display: flex;
    justify-content: center; /* Centraliza os botões sociais */
    gap: 10px; /* Espaço entre os botões */
}

footer .borda {
    border-top: 1px solid #4F9A70; /* Borda no topo da seção */
    padding-top: 10px; /* Espaço acima da borda */
}

.text-verde {
    color: #143836; /* Cor verde */
}


@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */

    .flex {
        flex-direction: column;
        margin-top: 20px;
    }

    section.coletaseletiva .flex {
        gap: 20px;
    }

    section.coletaseletiva {
        overflow:hidden;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */

    .menu-desktop,
    .btn-contato {
            display: block; /* Garante que o botão apareça no mobile */
            text-align: center; /* Centraliza o botão no mobile */
            margin: 20px auto; /* Adiciona espaçamento ao redor */
        }
   

        

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 30px 8%;
        margin-bottom: -50px;
        margin-top: -50px;

    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* COLETA SELETIVA */
    
    section.projeto {
        padding: 30px 8%;
    }


    /* SOBRE */

    section.sobre {
        padding: 30px 8%;
        
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-conscientize h2 {
        font-size: 32px;
        
    }
    

    .img-sobre img{
        width: 100%;
    }

    /* Projeto */

    section.projeto {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.projeto .flex {
       gap: 50px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    .btn-abrir-menu {
        display: block; /* Exibe o botão em telas menores */
    }

    .menu-desktop {
        display: none; /* Continua escondendo o menu-desktop */
    }

    .btn-contato {
        display: block; /* Mostra o botão no mobile */
        text-align: center; /* Centraliza o botão */
        margin: 20px auto; /* Adiciona espaçamento ao redor */
    }

    .btn-contato button {
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: #143836;
        color: #143836;
        background-color: #4F9A70;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        transition: .2s;
    }

    
header {
    padding: 30px 4%;
}
    

/* Animação de entrada coleta seletiva */

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.coletaseletiva-box {
    opacity: 0;
    transform: translateX(100px);
    transition: .2s;
}

.coletaseletiva-box.show {
    animation: slideIn 0.5s ease-in-out forwards;
}





/* Scroll no mobile (obs: IOS pode não funcionar essa estilização) */

@media (max-width: 768px) {
    body {
      --sb-track-color: #232E33;
      --sb-thumb-color: #4f9a70;
      --sb-size: 14px;
    }
  
    /* Estilos para scrollbars em navegadores baseados em WebKit */
    body::-webkit-scrollbar {
      width: var(--sb-size);
    }
  
    body::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 24px;
    }
  
    body::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 24px;
    }
  
    /* Fallback para navegadores que não suportam scrollbars customizados */
    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
      }
    }
  }


}

